    <a class="site-title" href="{{ site.baseurl }}/">Blog de música Indie</a>

    <nav class="site-nav">
          <div class="trigger">
          <a class="page-link" href="news.html">Novedades</a>
          <a class="page-link" href="#about">Acerca de</a>  
      </div>


    <section>
    		<h1>Próximos conciertos</h1>
    		<ul>
    			<li>
    				<h2>Vampire Weekend</h2>
    			</li>
    			<li>
    				<p>Su próxima presentación sera el 9 de noviembre en el Teatro de Verano en Montevideo-Uruguay.</p>
    			</li>
    		</ul>
    </section>
